/* Bella Rivera
   April 4, 2022
   CSE154 Section AH
   This is the CSS for my CP2 website. This takes care of the styling. It defines
   the background, colors, font, etc. The pinky theme is all due to this page. It
   keeps the website looking cleann and cohesive. */

#match-grid img {
  width: 100px;
  height: 100px;
  padding: 5px;
}

body {
  /* https://www.teahub.io/photos/full/8-85813_kawaii-food-fresh-new-hd
  -wallpaper-cute-wallpaper.png */
  background-image: url("images/smallsushi.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: 'Bubblegum Sans', cursive;
  color: #454545;
  align-items: center;
}

body, #score-text {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 70px;
  margin-bottom: 20px;
  color: #BC9969;
  text-shadow: #FFE5CF 10px 7px 5px;
}

h1, footer {
  text-align: center;
}

#intro p {
  margin-bottom: 30px;
}

#intro p, #score-text p {
  font-size: 20px;
}

#score-text img {
  align-self: center;
  width: 300px;
  height: 300px;
}

#score-text img, .game-over {
  margin-top: 20px;
}

.matched {
  visibility: hidden;
}

.flipped {
  /* screenshot of color from https://htmlcolorcodes.com/ */
  content: url("images/pink.jpeg");
}

.game-over {
  font-size: 60px;
  color: #D1589C;
}

footer {
  width: 100%;
  margin-top: 30px;
  position: relative;
  bottom: 0;
}

footer p {
  font-size: 12px;
}